:root {
  --accent-color: #ff0070;
  --main-title: #DB00FF;
  --text-color: #F1B2CE;
  --pseudo-color: #ff0070;
  --button-color: #ff0070;
  --button-outline: rgba(255 0 112 / 0.4);
  --link-color: #ff0070;
  --decor-color: #ff0070;
  --title-color: #ff0070;
  --title-shadow: #ff0070;
  --area-title: #000028;
  --bgk: #000028;
  --bgi: url(../images/cover-image-dark.png);
}